<!DOCTYPE html>
<html>

  <head>
    <title>Crap Yap</title>
    <!-- Favicon -->
    <link rel="icon" href="/assets/images/poop_emoji.png">
    <!-- Responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Emoji CSS -->  
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <!-- Link in jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Link in Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/style/style.css">
  </head>

  <body>

    <!-- Nav Bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <i class="em em-hankey"></i>
            <p id="branded">Crapper Yapper</p>
            <i class="em em-toilet"></i>
          </a>
        </div>



        <!-- Links to Contact Form and Home Page -->
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/messages" id="white">Link to View Raw Data</a></li>
            <li><a href="/nowhere" id="white">Link to Nowhere</a></li>
            <li><a target="_blank" href="https://github.com/tomtom28/crap-yap" id="white">GitHub Repo</a></li>
          </ul>
        </div>

      </div>
    </nav>


    <!-- Page Content -->
    <div class="container">

      {{{body}}}

    </div>

    <br/><br/>

    <!-- Footer -->
    <footer class="navbar navbar-default navbar-fixed-bottom" >
      <div class="container">
        <br/>
        <p class="branded">&copy; <a target="_blank" href="http://www.stupidhackathon.com/">Stupid Shit Hackathon</a>, 2017</p>
      </div>
    </footer>

  </body>

</html>