<!DOCTYPE html>
<html>

  <head>
    <title>Crap Yap</title>
    <!-- Favicon -->
    <link rel="icon" href="/assets/images/poop_emoji.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Emoji CSS -->  
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/style/style.css">
    <!-- Link in jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Link in Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>

    <!-- Nav Bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <i class="em em-hankey"></i>
            Crapper Yapper
            <i class="em em-toilet"></i>
          </a>
        </div>



        <!-- Links to Contact Form and Home Page -->
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Reload (Not Needed)</a></li>
          </ul>
        </div>

      </div>
    </nav>


    <!-- Page Content -->
    <div class="container">

      {{{body}}}

    </div>

    <br/><br/>

    <!-- Footer -->
    <footer class="navbar navbar-default navbar-fixed-bottom" >
      <div class="container">
        <br/>
        <p class="text-muted">&copy; Stupid Shit Hackathon, 2017</p>
      </div>
    </footer>

  </body>

</html>