/* Account for Nav Bar */
body {
  padding-top: 70px;
  padding-bottom: 70px;
}

/* Chat Room */
#messageBox {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  padding: 10px;
}

#chatRoomMessages {
  height: 420px;
  overflow-y: scroll;
  padding-left: 25px;
  padding-right: 25px;
}

#body-content{
  background-color: #cce6ff;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

.panel > .panel-heading{
  background-image: none;
  background-color: #552700;
  color: white;
}

.panel-warning > .panel-heading {
    background-image: none;
    background-color: #997366;
    color: white;
}
.navbar{
  /*background-image: none;*/
  /*background-color: #;*/
  /*color: white;*/
}

.nav{
  /*color: white;*/
}
.pooText{
  /*background-color: #D49A6A;*/
}
.pooText a{
  /*color: black;*/
}
.pooText a:hover{
  /*background-color: #D49A6A;*/
}
#white{
  /*color: white;*/
}
#branded{
  display: inline;
  /*color: white;*/
}