{{!-- Chat Room Content --}}
<div class="row" style="height:440px;">
  <br><br><br>
  <center class="">
    <h2>Hey Sh*t Head!</h2>

    <p>Navigate back to the <a href="/">homepage</a>!</p>

    <img src="/assets/images/poop_emoji.png">
  </center>

</div>